 *{
     margin: 0;
     padding: 0;
 }

 body{
     font-family: Arial, Helvetica, sans-serif;
     margin: auto;
     text-align: center;
     color: #fff;
     background-image: url("covid-map.png");
     overflow: hidden;
 }

 /* container */
 .container{
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    
 }

 .header{
margin-bottom: 30px;
font-size: 2rem;
 }

 .form-inline {  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    margin: 100px 30px 0 30px;
  }
  
  .form-inline label {
    margin: 5px -60px 5px 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .btn {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    width: 500px;
    background-color: #d12525;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px 0;
  }
  
  .btn:hover {
    background-color: #fff;
    color: #000;
  }


  .form-period label {
    margin: 5px 1px 5px 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .form-period input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
  }

  select{
      padding: 9px;
      border: 1px solid #ddd;
      border-radius:4px;
      margin: 50px 0 10px 0;
  }

  footer{
      margin-bottom: 50px;
  }

  /* mobile display */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }

    .header{
        margin-top: -40px;
        margin-bottom: -40px;
        font-size: 0.8rem;
         }

         .form-inline label {
            text-align: center;
            margin-right: 10px;
          }

          .form-period {  
            margin-top: -20px;
            margin-bottom: -30px;
          }

          .form-period label {
            margin: 10px 0 5px 0;
            text-align: center;
            font-size: 0.8rem;
          }

          .form-period input {
            margin: 5px 10px 5px 0;
            padding: 10px;
          }

          .btn {
            margin-bottom: 20px;
            width: 350px;
            font-size: 0.8rem;
            
          }
  }
  
  @media (max-width: 600px) {
    .form-inline input {
      margin: 5px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }

    .header{
        margin-top: -60px;
        margin-bottom: -40px;
        font-size: 0.8rem;
         }

         .form-inline label {
            text-align: center;
            margin-right: 10px;
            font-size: 0.8rem;
          }

          .form-period {  
            margin-top: -20px;
            margin-bottom: -30px;
          }

          .form-period label {
            margin: 10px 0 5px 0;
            text-align: center;
            font-size: 0.6rem;
          }

          .form-period input {
            margin: -1px 0 0 0;
            padding: 10px;
          }

          .btn {
            margin-top: 60px;
            margin-bottom: 20px;
            width: 300px;
            font-size: 0.8rem;
            
          }
    
  }